youtube-transcript-api
jupyter
qdrant-client>=1.16.2
sentence-transformers
torch>=2.1.0 # for compatibility with sentence-transformers
pandas
openai
matplotlib
seaborn
rank_bm25
mlflow
optuna
wordcloud
fastapi 
uvicorn[standard]
PyYAML